* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
  }
  
  body {
    background: linear-gradient(90deg, rgba(2,54,78,1) 0%, rgb(13, 176, 138) 73%);
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
  }
  
  .description {
    white-space: wrap;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
  }
  
  .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  .title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
  .user-follow-info {
    color: hsl(0, 0%, 60%);
  }
  
  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: #00133E;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
    color: white;
  }
  
  .button:hover {
    background: var(--purple);
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 460px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 640px) {
    .box {
      flex-basis: calc(50% - 12px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 840px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1024px) {
    .box {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1100px) {
    .box {
      flex-basis: calc(25% - 18px);
    }
  }

  body {
  background-image: url('Images/bg.jpg');
  background-size: cover;
  background-position: center;
}
.card {
  height: 100%;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.entry-fee-box {
  position: relative;
}

.entry-fee {
  font-size: 24px;
  font-weight: bold;
  color: #f44336;
}

.filter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #0056b3;
}

.filter-button.active {
  background-color: #0056b3;
}
/*----------------------Button Start-------------------*/

.glow-on-hover {
    width: 120px;
    height: 38px;
    border: none;
    outline: none;
    color: #fff;
    background: #007bff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #007bff;
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #007bff;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }


  